

<main>

    <div class="schedule-grid"></div>


</main>




<script id="schedule-template" type="text/x-handlebars-template">

    {{#each .}}

    <div class="weekRow">


        <div class="hourBlock sidebar">
            <h1>{{hour}}</h1>
        </div>
        <div class="hourBlock">
        </div>
        <div class="hourBlock">
        </div>
        <div class="hourBlock">
        </div>
        <div class="hourBlock">
        </div>
        <div class="hourBlock">
        </div>

    </div>

    {{/each}}

</script>

